@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  font-family: "Nunito", sans-serif;
  color: #1F2421;
  background: #F7F6F2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #F7F6F2;
}